/* VARIABLES */

/* fraunces-900italic - latin */
/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fraunces-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/barlow-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/barlow-v12-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





:root{
  --green-color:#0E8784;
  --dark-grey:#333D4B;
  --orange:#FDD6BA;
}

/* GENERAL */

*
{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

.body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding:0 10px  ;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

.site-header{
  position: relative;
  padding: 32px 0 41px 0;
}

.site-header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.site-header__btn{
  width: 16px;
  height: 15px;
  background-image: url("../images/nav-burger.svg");
  background-color: transparent;
  border: none;
}

.sitenav{
  display: none;
}

.sitenav__list{
  display: flex;
  align-items: center;
  list-style: none;
}

.sitenav__item:not(:last-child){
  margin-right: 33px;
}
.sitenav__link{
  font-family: "Barlow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}


@media only screen and (max-width: 650px)
{

  .body-over
  {
    overflow: hidden;
  }

  .site-header__btn-close
  {
    background-image: url("../images/nav-x.svg");
    background-size: cover;
  }
  
  .sitenav-open
  {
    width: 100%;
    height: 100vh ;
    display: block;
    position: absolute;
    left: 0;
    top: 90px;
    background: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
  }
  
  .sitenav-open .sitenav__list
  {
    padding: top 90px;;
    display: flex;
    flex-direction: column;
  }
  
  .sitenav-open .sitenav__item
  {
    margin-top: 32px;
    text-align: center;
  }
  
  .sitenav-open a
  {
    font-family: 'Fraunces';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
  }

}


@media only screen and (min-width: 650px){

  .logo__img{
    width: 236px;
    height: 26px;
  }

  .site-header__btn{
    display: none;
  }

  .sitenav{
    display: block;
  }

}

.hero__iner
{
  padding: 100px 24px;
  background-image: url(../images/hero-tablet-img.png);
  background-color:#A2A2A2;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:10px ;
}

.hero__info
{
  margin: 0 auto;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.hero__title
{
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #FEFCF7;
}

.text
{
  font-family: 'Barlow';
}

.hero__text
{
  width: 100%;
  margin: 25px 0 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__btn
{
  padding: 15px 31px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background-color: var(--green-color);
  border-color: transparent;
  border-radius: 6px;
}

@media only screen and (max-width: 340px)
{
  .hero__title
  {
    font-size: 30px;
  }

}





.collection
{
  position: relative;
  padding: 120px 0 120px;
}


.collection__inner
{
  padding-top:85px ;
  background-image: url(../images/our-collection-img.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.collection__list
{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.collection__item
{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  max-width: 282px;
}

.collection__item:not(:last-child)
{
  margin-bottom: 48px;
}


.collection__item-title
{
  margin: 24px 0 16px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--dark-grey);
}

.collection__item-text
{
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}

.collection__item-img
{
  width: 200px;
  height: 151px;
}


.choose
{
  position:static;
}


.choose__inner
{
  position: relative;
  padding:64px 24px 661px;
  background-color: var(--dark-grey);
  border-radius: 10px;
}

.choose__info
{
  max-width: 540px;
  margin: 0 auto;
}

.choose__title {
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.choose__text {
  margin: 24px 0 64px;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}


.choose__box
{
  position: relative;
}

.chuuse__list
{
  width: 100%;
  position: absolute;
  list-style: none;
}

.choose__item 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 32px  51px;
  background: #0E8784;
  border-radius: 8px;
}

.choose__item::before
{
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../images/coffee.svg);
  background-repeat: no-repeat;
}

.choose__item:not(:last-child)
{
  margin-bottom: 24px;
}

.choose__item:nth-child(2)::before
{
  background-image: url(../images/surprise.svg)
}

.choose__item:nth-child(3)::before
{
  background-image: url(../images/car.svg)
}

.choose__item-title {
  margin: 56px 0 24px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}
.choose__item-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}





.works {
  padding: 760px 0 120px;
}
.container {
}
.works__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.works__title {
  margin-bottom: 80px ;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888F;
}

.works__list {
  list-style: none;
}


.works__item {
  max-width: 327px;
  margin-bottom: 56px;
}
.works__item-number {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  color: #FDD6BA;
}
.work__item-title {
  margin: 24px 0 ;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.work__item-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}
.works__btn {
  margin-top: 22px;
}

.work__line
{
  display: none;
}







.site-footer
{
  background-color: var(--dark-grey);
  padding:55px 10px ;
}

.footer-inner
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sitenav__list-footer
{
  align-items: center;
  flex-direction: column;
  margin: 49px 0;
}

.sitenav__item-footer:nth-child(1)
{
  margin: 0;
}

.sitenav__item-footer:nth-child(2)
{
  margin:24px 0;
}

.footer__icon
{
  list-style: none;
  display: flex;
  align-items: center;
}

.footer__icon-item:nth-child(2)
{
  margin: 0 24px;
}



@media only screen and (min-width: 576px)
{

  .container
  {
    padding: 0 20px;
  }

  .hero__iner
  {

    padding: 114px 58px;
  }

  .hero__info
  {
    margin: 0;
    max-width: 398px;
    align-items: start;
  }


  .hero__title
  {
    max-width: 329px;
    text-align: left;
    font-size: 48px;
    line-height: 48px;
  }

  .hero__text
  {
    text-align: left;
  }



  .sitenav__list-footer
  {
    flex-direction: row;
  }

  .sitenav__item-footer:nth-child(2)
  {
    margin:0 32px;
  }






}





@media only screen and (min-width: 578px) and (max-width:999px)
{
  .collection__inner
  {
    background-image: url(../images/collection-bg-tablet.svg.svg);
    background-size: contain;
  }

  .collection__item
  {
    min-width: 600px;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  }

  .collection__item-img
  {
    width: 255px;
    height: 193px;
  }

  .collection__item-box
  {
    min-width: 282px;
  }

  .collection__item-title
  {
    text-align: left;
  }

  .collection__item-text
  {
    text-align: left;
  }
}

@media only screen and (min-width: 640px)
{
  .works
  {
    padding: 400px 0 144px;
  }



  .works__inner
  {
    padding: 0 20px;
    align-items: flex-start;
  }

  .work__line
  {
    position: relative;
    display: flex;
    list-style: none;
    width: 66%;
    height: 31px;
  }


  .line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #110e0c;
  }

  .works__list
  {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
  }

  .works__item
  {
    position: relative;
    align-items: start;
    max-width: 223px;
    display: block;
  }

  .works__item:nth-child(2)
  {
    width: 2fr;
    padding: 0 10px;
  }

  .works__item-number {
    text-align: left;
  }

  .work__item-title {
    text-align: left;
  }

  .work__item-text {
    text-align: left;
  }


}

@media only screen and (min-width: 640px) and (max-width:999px) 
{

  .choose__inner
  {
    padding-bottom: 368px;
  }

  .choose__text
  {
    margin-bottom: 70px;
  }

  .choose__item
  {
    flex-direction: row;
    padding: 41px 48px 41px 70px;
  }

  .choose__item-inner
  {
    max-width: 344px;
    margin: 0 auto;
  }

  .choose__item-title
  {
    margin: 0;
    text-align: left;
  }

  .choose__item-text
  {
    text-align: left;
    margin-top: 16px;
    font-size: 15px;
    line-height: 25px;
  }

}

@media only screen and (min-width: 999px)
{
  .hero__btn:hover
  {
    background-color: #66D2CF;
  }

  .container
  {
    padding:0 30px;
  }

  .hero__iner
  {
    padding: 117px 85px;
    background-image: url("../images/hero-desktop-img.png");
  }

  .hero__info
  {
    max-width: 493px;
  }

  .hero__title
  {
    max-width: 100%;
    font-size: 72px;
    line-height: 72px;
  }

  .hero__text
  {
    max-width: 445px;
  }

  /* .collection section start */

  .collection__inner
  {
    padding-top: 126px;
    background-image: url(../images/our-collection-img-desktop.svg);
  }

  .collection__list
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }

  .collection__item-title
  { 
    margin-top: 72px;
  }

  /* choose section start */

  .choose__inner
  {
    padding-bottom: 317px;
  }

  .choose__text
  {
    margin-bottom: 84px;
  }

  .chuuse__list
  {

    display: flex;
  }

  .choose__item:nth-child(1)
  {
    margin: 0;
  }

  .choose__item:nth-child(2)
  {
    margin: 0 30px;  }

  .works{
    padding: 300px 0 200px;
  }

  .footer-inner
  {
    flex-direction: row;
    justify-content: space-between;
  }

}


/* about section start  */

.site-main {
}

.about-hero {
}

.about-hero__container {
  padding: 111px 24px 87px ;
  background-image: url(../images/Bitmap-about-hero-bg.jpg);
  background-position: right calc(0% - 666px) center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.about-hero__inner {
  max-width: 279px;
}

.about-hero__title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.about-hero__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}



@media only screen and (min-width:650px)
{
  .about-hero__container
  {
    padding: 118px 0 118px 58px;
  }

  .about-hero__inner
  {
    min-width: 398px;
  }

  .about-hero__title {
    text-align: left;
    font-size: 32px;
    line-height: 40px;

  }
  .about-hero__text {
    text-align: left;
  }

}

@media only screen and (min-width:860px)
{

  .about-hero__container {
    padding: 137px 0 137px 85px;
    background-position: left  bottom calc(0% - 200px);
  }

  .about-hero__inner
  {
    min-width: 445px;
  }

  .about-hero__title {
    font-size: 40px;
    line-height: 48px;
  }
  .about-hero__text {
    font-size: 16px;
    line-height: 26px;
  }

}

.commitment__inner
{
  display: block;
  padding: 120px 0px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commitment__img    
{
  display: inline-table;
  min-width: 330px;
  max-width: 445px;
  height: 400px;
  border-radius: 8px;
  background-image: url(../images/Bitmapcommitment-barista-img.jpg);
  background-position: top center;
  overflow-y: hidden;
}


.commitment__box {
  padding-top: 48px;
}
.commitment__title 
{
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #333D4B;
}
.commitment__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}


@media only screen and (min-width:750px)
{

  .commitment__inner
  {
    padding: 144px 0 ;
  }

  .commitment__inner
  {
    flex-direction: row;
  }

  .commitment__img
  {
    min-width:280px ;
    height: 470px;
  }

  .commitment__box {
    max-width: 540px;
    padding: 0 0 0 69px;

  }

  .commitment__title 
  {
    font-size: 32px;
    line-height: 48px;
    text-align: left;
  }

  .commitment__text {
    text-align: left;
  }

}

@media only screen and (min-width:1000px)
{

  .commitment__inner
  {
    padding: 168px 0 ;
  }

  .commitment__img
  {
    min-width:445px ;
    height: 470px;
  }

  .commitment__title 
  {
    font-size: 40px;
    line-height: 48px;
  }


}








.quality {
}

.quality__inner {
  position: relative;
  margin-top: 78px;
  padding: 142px 24px 61px;
  background: #2C343E;
  border-radius: 10px;
}

.quality__img-box {
  position: absolute;
  height: 156px;
  top: -78px;
  right: 10%;
  left: 10%;
  background-image: url(../images/Bitmap-qualite-section-mobile-img.png);
  background-position: calc(50%) calc(50%);
  background-repeat: no-repeat;
}
.quality__info {
}
.quality__title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.quality__text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;

}



@media only screen and (min-width:700px)
{
  .quality__inner 
  {
    margin-top: 160px;
    padding: 224px 74px 67px;
  }

  .quality__img-box 
  {
    height: 320px;
    top: -160px;
    background-image: url(../images/Bitmap-qualite-section-tablet-img.png);
  }

  .quality__title {
    font-size: 32px;
    line-height: 48px;
  }
}


@media only screen and (min-width:1200px)
{

  .quality__inner 
  {

    margin-top: 90px;
    padding: 118px 0 176px 76px ;
  }

  .quality__img-box 
  {
    position: absolute;
    width: 445px;
    height: 474px;
    top: -90px;
    left: calc(100% - 525px);
    background-image: url(../images/Bitmap-qualite-section-desktop-img.png);
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .quality__info {
    max-width: 540px;
    margin-right: 655px;
  }
  .quality__title {
    text-align: left;
    font-size: 40px;
    line-height: 48px;

  }
  .quality__text {

    text-align: left;
    font-size: 16px;
    line-height: 26px;
  }

}












.quarters {
  padding: 144px 0;
}

.quarters__inner {
}
.quarters__tile {
  margin-bottom: 72px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888F;
}

.quarters__list {
  list-style: none;
}

.quarters__item {
  max-width: 327px;
  position: relative;
  margin: 0 auto;
}

.quarters__item:not(:last-child)
{
  margin-bottom: 80px;
}

.quarters__item::before{
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  margin: 0 auto 50px;
  background-image: url(../images/uk.svg);
  background-repeat: no-repeat;

}


.quarters__item:nth-child(2)::before
{
background-image: url(../images/Australia.svg);
}
.quarters__item:nth-child(3)::before
{
background-image: url(../images/Combined\ Shape-canada.svg);
}


.quarters__item-title {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #333D4B;
}
.quarters__address-text {
  font-style:normal;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.qurters__tel {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}



@media only screen and (min-width:700px)
{
  .quarters__tile {
    text-align: left;
  }

  .quarters__list
  {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
  }

  .quarters__item {
    margin: 0;
  }
  .quarters__item::before {
    margin-left: 0;
  }
  .quarters__item-title {
    text-align: left;
  }
  .quarters__address {
  }
  .quarters__address-text {
    text-align-last: left;
  }
  .qurters__tel {
    text-align: left;
  }


}

@media only screen and (min-width:1000px)
{
  .quarters__list
  {
    padding-right: 280px;
  }
}









